/* common */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

.icons {
  color: #B1B1B1;
  padding-right: 10px;
  font-size: 1.2em;
  cursor: pointer;
}

body {
  height: 100vh;
  background-image: linear-gradient(#009688 0px, #009688 20vh, #D9DBD5 20vh, #D9DBD5 100%);
  display: flex;
  width: 100%;
}
/* /common */

/* layout contenitore generale */
.container {
  height: 95%;
  width: 80%;
  margin: auto;
  min-width: 950px;
}
/* /layout contenitore generale */

/* layout colonna sinistra */
.container .col-left {
  width: 40%;
  height: 100%;
  border-right: 1px solid lightgrey;
  background-color: #FAFAFA;
}
/* /layout colonna sinistra */

/* layout colonna destra */
.container .col-right {
  width: 60%;
  height: 100%;
}
/* /layout colonna destra */

/* layout header sinistro */
.container .col-left .header-top-left {
  height: 70px;
  padding: 5px;
  background-color: #EAEAEA;
  justify-content: space-between;
  align-items: center;
}
/* /layout header sinistro */

/* layout contenitore immagine */
.container .col-left .header-top-left .container-img{
  cursor: pointer;
} 
/* /layout contenitore immagini */

/* layout immagine profilo header sinistro */
.container .col-left .header-top-left img {
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}
/* /layout immagine profilo header sinistro */

/* layout contenitore notifiche */
.container .col-left .container-notifiche {
  background-color: #8EDAFC;
  height: 80px;
  align-items: center;
  padding-left: 20px;
}
/* /layout contenitore notifiche */

/* layout icone contenitore notifiche */
.container .col-left .container-notifiche i {
  color: #8EDAFC;
  background-color: white;
  border-radius: 50%;
  padding: 17px 15px;
  font-size: 1.2em;
}
/* /layout icone contenitore notifiche */

/* layout testo contenitore notifiche */
.container .col-left .container-notifiche .text {
  margin-left: 10px;
}
/* /layout testo contenitore notifiche */

/* layout link contenitore notifiche */
.container .col-left .container-notifiche .text a {
  color:#6B7376;
}
/* /layout link contenitore notifiche */

/* layout div ricerca chat */
.container .col-left .ricerca {
  background-color: white;
  margin: 5px;
  padding: 7px 20px;
  border: 1px solid #F5F5F5;
}
/* /layout div ricerca chat */

/* layout input ricerca chat */
.container .col-left .ricerca input {
  border: none;
  width: 80%;
  margin-left: 20px;
}
/* /layout input ricerca chat */

/* layout icone ricerca chat */
.container .col-left .ricerca i {
  font-size: 1em;
}
/* /layout icone ricerca chat */

/* layout div conversazioni */
.container .col-left .conversazioni {
  height: calc(100% - 70px - 45px - 80px);
  width: 100%;
  border-right: lightgrey;
  background-color: white;
  overflow-y: scroll;
}
/* /layout div conversazioni */

/* layout singola chat */
.container .col-left .conversazioni .chat {
  height: 80px;
  width: 100%;
  padding: 10px 5px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}
/* /layout singola chat */

/* layout immagine singola chat */
.container .col-left .conversazioni .chat img {
  height: 60px;
  border-radius: 50%;
}
/* /layout immagine singola chat */

/* layout contenitore testo */
.container .col-left .conversazioni .chat .container-text {
  flex-direction: column;
  width: 95%;
}
/* /layout contenitore testo */

/* layout testo */
.container .col-left .conversazioni .chat .container-text .text {
  margin-left: 10px;
  justify-content: space-between;
  width: 95%;
}
/* /layout testo */

/* layout messaggi */
.container .col-left .conversazioni .chat .container-text .message {
  color: #B6B9BB;
  margin-top: 2px;
  margin-left: 10px;
}
/* /layout messaggi */

/* layout data */
.container .col-left .conversazioni .chat .container-text .text .data {
  color: #B6B9BB;
}
/* /layout data */

/* layout chat selezionata header sinistro */
.chat.selected {
  background-color: rgba(180, 180, 180,0.5);
}
/* /layout chat selezionata header sinistro */

/* layout header destro */
.container .col-right .header-top-right {
  height: 70px;
  padding: 5px;
  background-color: #EAEAEA;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
/* /layout header destro */

/* layout immagine profilo header destro */
.container .col-right .header-top-right img {
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}
/* /layout immagine profilo header destro */

/* layout contenitore immagine e testo header destro */
.container .col-right .header-top-right .container-img {
  align-items: center;
  cursor: pointer;
}
/* /layout contenitore immagine e testo header destro */

/* layout testo header destro */
.container .col-right .header-top-right .container-img .text {
  margin-left: 10px;
} 

.container .col-right .header-top-right .container-img .text p {
  color: #6B7376;
}
/* /layout testo header destro */

/* layout main */
.col-right .main {
  background-image: url('../img/mine.jpg');
  height: calc(100% - 70px - 70px);
  width: 100%;
  background-size: contain;
  margin: auto;
  flex-direction: column;
}
/* /layout main */

/* layout container main */
.col-right .main .container-main {
  height: 100%;
  width: 100%;
  padding: 3em 5em;
  flex-direction: column;
  overflow-y: scroll;
}
/* /layout container main */

/* layout messaggi ricevuti */
.col-right .main .container-main .received {
  width: 350px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin: 10px 0;
  position: relative;
}
/* /layout messsaggi ricevuti */

/* layout testo messaggio */
.col-right .main .container-main .message .text-message {
  align-self: flex-start;
  margin-top: 15px;
}
/* /layout testo messaggio */

/* layout data messaggio */
.col-right .main .container-main .message .date-message {
  align-self: flex-end;
  font-size: 0.8em;
  color: #B6B9BB;
  margin-top: 5px;
}
/* /layout data messaggio */

/* layout messaggi inviati */
.col-right .main .container-main .sent {
  width: 350px;
  height: 60px;
  background-color: #D5F9BA;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  align-self: flex-end;
  margin: 10px 0;
  position: relative;
}
/* /layout messaggi inviati */

/* layout barra inferiore */
.col-right .bottom-bar {
  height: 70px;
  width: 100%;
  background-color: #F3EEEA;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
}
/* /layout barra inferiore */

/* layout input barre inferiore */
.col-right .bottom-bar input {
  width: 85%;
  height: 70%;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
}
/* /layout input barra inferiore */

/* layout icone barra inferiore */
.col-right .bottom-bar i {
  padding: 0;
  font-size: 1.5em;
}
/* /layout icone barra inferiore */

/* layout freccia opzioni */
.option_arrow {
  display: none;
  color: #B6B9BB;
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 6%;
}

.col-right .main .container-main .received:hover .option_arrow {
  display: block;
}
/* /layout freccia opzioni */

/* layout pannello opzioni */
.col-right .main .container-main .received .option-panel {
  position: absolute;
  right: 0;
  bottom: -80px;
  width: 160px;
  height: 80px;
  background: white;
  box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.75);
  z-index: 999;
}
/* /layout pannello opzioni */

/* layout info e cancellazione messaggio */
.col-right .main .container-main .received .option-panel .info-message, 
.delete-message {
  cursor: pointer;
  width: 100%;
  height: 50%;
  line-height: 40px;
  font-size: 14px;
  padding-left: 1.2em;
}
/* /layout infoe  cancellaizone messaggio */