* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.icons {
  color: #B1B1B1;
  padding-right: 10px;
  font-size: 1.2em;
}

body {
  height: 100vh;
  background-image: linear-gradient(#009688 0px, #009688 20vh, #D9DBD5 20vh, #D9DBD5 100%);
  display: flex;
  width: 100%;
}

.container {
  height: 1200px;
  margin: auto;
  width: 1300px;
}

.container .col-left {
  width: 40%;
  height: 100%;
  border-right: 1px solid lightgrey;
  background-color: #FAFAFA;
}

.container .col-right {
  width: 60%;
  height: 100%;
}

.container .col-left .header-top-left {
  height: 70px;
  padding: 5px;
  background-color: #EAEAEA;
  justify-content: space-between;
  align-items: center;
}

.container .col-left .header-top-left img {
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}

.container .col-left .container-notifiche {
  background-color: #8EDAFC;
  height: 80px;
  align-items: center;
  padding-left: 20px;
}

.container .col-left .container-notifiche i {
  color: #8EDAFC;
  background-color: white;
  border-radius: 50%;
  padding: 17px 15px;
  font-size: 1.2em;
}

.container .col-left .container-notifiche .text {
  margin-left: 10px;
}

.container .col-left .container-notifiche .text a {
  color:#6B7376;
}

.container .col-left .ricerca {
  background-color: white;
  margin: 5px;
  padding: 7px 20px;
  border: 1px solid #F5F5F5;
}

.container .col-left .ricerca input {
  border: none;
  width: 80%;
  color: transparent;
  margin-left: 20px;
}

.container .col-left .ricerca i {
  font-size: 1em;
}

.container .col-left .conversazioni {
  height: 84%;
  width: 99%;
  border-right: lightgrey;
  background-color: white;
}

.container .col-left .conversazioni .chat {
  height: 80px;
  width: 100%;
  padding: 10px 5px;
  border-bottom: 1px solid lightgrey;
}

.container .col-left .conversazioni .chat img {
  height: 60px;
  border-radius: 50%;
}

.container .col-left .conversazioni .chat .container-text {
  flex-direction: column;
  width: 95%;
}

.container .col-left .conversazioni .chat .container-text .text {
  margin-left: 10px;
  justify-content: space-between;
  width: 95%;
}

.container .col-left .conversazioni .chat .container-text .message {
  color: #B6B9BB;
  margin-top: 2px;
  margin-left: 10px;
}

.container .col-left .conversazioni .chat .container-text .text .data {
  color: #B6B9BB;
}

.container .col-right .header-top-right {
  height: 70px;
  padding: 5px;
  background-color: #EAEAEA;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container .col-right .header-top-right img {
  height: 60px;
  border-radius: 50%;
  vertical-align: middle;
}

.container .col-right .header-top-right .container-img {
  align-items: center;
}

.container .col-right .header-top-right .container-img .text {
  margin-left: 10px;
} 

.container .col-right .header-top-right .container-img .text p {
  color: #6B7376;
}

.col-right .main {
  background-image: url('../img/mine.jpg');
  height: 1130px;
  width: 100%;
  background-size: contain;
  margin: auto;
  flex-direction: column;
}

.col-right .main .container-main {
  height: 1000px;
  width: 80%;
  margin: auto auto;
  flex-direction: column;
}

.col-right .main .container-main .message {
  width: 300px;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.col-right .main .container-main .message .text-message {
  align-self: flex-start;
  margin-top: 15px;
}

.col-right .main .container-main .message .date-message {
  align-self: flex-end;
  font-size: 0.8em;
  color: #B6B9BB;
  margin-top: 5px;
}

.col-right .main .container-main .sent {
  width: 300px;
  height: 60px;
  background-color: #D5F9BA;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  align-self: flex-end;
}




